modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "imagemagickBig", "libiconv", "libxcrypt", "nmap", "openssl", "pkg-config", "postgresql", "qhull", "rustc", "sox", "tcl", "tcpdump", "tk", "wireshark", "xcodebuild", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "install_dependencies"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "install_dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add python-nmap cryptography flask-login paramiko requests stem pysocks jinja2"

[[ports]]
localPort = 5000
externalPort = 80
